.add-item-heading {
  font-size: 16px;
  line-height: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-item-input {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  border: 1px solid black;
}

.add-item-wrap {
  background-color: rgba(238,238,238, 1);
  max-width: 400px;
  width: 100%;
  padding: 15px;
}

.add-item-label {
  display: block;
  margin-bottom: 10px;
}

.add-todo-input-wrap {
  margin-bottom: 10px;
}

.add-todo-item-btn {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  border: 1px solid black;
  width: 100%;
  max-width: 99px;
}

.hidden-div {
  height: 0;
  width: 0;
  margin: {
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  padding: 0;
  visibility: hidden;
}

@media(max-width: 767px) {
  .add-item-heading {
    text-align: center;
  }
  .add-item-wrap {
    width: 100%;
    max-width: initial;
  }
  .add-item-input {
    max-width: initial;
    width: 100%;
  }
  .add-todo-item-btn {
    display: block;
    width: 100%;
    max-width: initial;
  }
  .hidden-div {
    margin-bottom: 10px;
  }
}
